{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "useTabs": true,
  "endOfLine": "auto",
  "max-len": ["error", { "code": 80 }]
}